<!DOCTYPE html>
<html>
<head>
    <title>about</title>
    <link rel="icon" href="/img/marker.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-content">
{{>header}}
<p> this sit was created by lee. it uses data from mapbox.com and darksky</p>
<img class = "portrait" src="/img/kim.PNG">
</div>
{{>footer}}
</body>
</html>