<!DOCTYPE html>
<html>
<head>
    <title>help</title>
    <link rel="icon" href="/img/marker.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}  <!-- hbs를 포함하기 위함, 확장자명 써줄 필요 없이 파일 이름만 -->
    <p>{{title}} page</p>
    </div>
    {{>footer}}
</body>
</html>